.my-services .col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
}

.service-item {
    margin-bottom: 10px;
    padding: 50px;
    background-color: rgba(250, 250, 250, 0.1);
    transition: all 0.5s;
}

.service-item h4 {
    transition: all 0.5s;
}

.service-item p {
    transition: all 0.5s;
}

.service-item:hover {
    background-color: rgba(250, 250, 250, 1);
}

.service-item:hover h4 {
    color: #1e1e1e;
}

.service-item:hover p {
    color: #4a4a4a;
}

.service-item .service-icon {
    width: 70px;
    height: 70px;
    display: inline-block;
    margin-bottom: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.5s;
}

.service-item .first-service-icon {
    background-image: url(../../../../../../assets/icons/first-white-icon.png);
}

.service-item:hover .first-service-icon {
    background-image: url(../../../../../../assets/icons/first-main-icon.png);
}

.service-item .second-service-icon {
    background-image: url(../../../../../../assets/icons/second-white-icon.png);
}

.service-item:hover .second-service-icon {
    background-image: url(../../../../../../assets/icons/second-main-icon.png);
}

.service-item .third-service-icon {
    background-image: url(../../../../../../assets/icons/third-white-icon.png);
}

.service-item:hover .third-service-icon {
    background-image: url(../../../../../../assets/icons/third-main-icon.png);
}

.service-item .fourth-service-icon {
    background-image: url(../../../../../../assets/icons/fourth-white-icon.png);
}

.service-item:hover .fourth-service-icon {
    background-image: url(../../../../../../assets/icons/fourth-main-icon.png);
}